.list-group-item {
  line-height: 35px;
  padding: 10px 120px 10px 15px;
}

.list-group-item > .btn {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -17px;
}

.btn {
  margin-left: 15px;
}


